# Environment
.envrc
uv.lock
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checking
.mypy_cache/
.ruff_cache/
